* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  article {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2.5rem;
    color: #163350;
  }
  
  h2 {
    font-size: 2rem;
    color: #13a88a;
    margin-top: 10px;
  }
  p {
    font-size: 1.25rem;
    color: #606666;
    margin-top: 20px;
  }
  